<mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div id="title">
      <h2> {{pageTitle}} </h2>
    </div>
    <img class="sprout_logo" src ="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-780000951144/website_images/two_leaf_logo_small.png" />
</mat-toolbar>
  
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false" mode="side">
      <a *ngFor="let path of paths"> 
        <button mat-button routerLink={{path.route}}>{{path.name}}</button>
        <br/>
      </a>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
  
