<!-- <app-events-create-nav></app-events-create-nav> -->

<div class="container">
    <div class="row">
          <div class="col-md-8" style="margin-top:20px;">
          </div>
          <div class="col-md-4 text-right" style="margin-top:20px;">
              <a routerLink="/dashboard" class="btn btn-link">
                <mdb-icon fas icon="arrow-circle-left"></mdb-icon> Back To Dashboard
              </a>
          </div>
    </div>
</div>

<div class="container text-left" style="padding-top:20px;">
    <h3 class="h3"> Create your New Event</h3>
    <p>
      Your first step to sharing your event with the world. Get started by providing us some basic information about your event.
    </p>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <app-new-event-form (newEventInfoEventEmitter)="receiveNewEventInfo($event)"></app-new-event-form>
      </div>
      <div *ngIf="_eventInfoSubmitted" class="col-sm-6">
        <app-new-event-confirm [newEventInfo]="_eventInfo"></app-new-event-confirm>
      </div>
    </div>
</div>