<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Confirm Your Information</mat-card-title>
              <mat-card-subtitle>{{newEventInfo.eventName}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  {{newEventInfo.eventDescription}}
              </p>
            </mat-card-content>
            <mat-card-content>
                <p><strong>Event Start Date: </strong> {{newEventInfo.eventStartDate}} </p>
            </mat-card-content>
            <mat-card-content>
                <p><strong>Event End Date: </strong> {{newEventInfo.eventEndDate}} </p>
            </mat-card-content>
            <div class="text-center">
                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" (click)="sumbitNewEvent()">Submit New Event</button>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>
</div>