.example-card {
    max-width: 600px;
  }
  
  .example-header-image {
    background-image: url('https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
  }