<div class="card card-cascade narrower mb-4">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img 
      *ngIf="_showUseCase2"
      class="card-img-top"
      src="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-780000951144/website_images/create_event.png"
      alt="Card image cap"
    />
    <img 
      *ngIf="_showUseCase1"
      class="card-img-top"
      src="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-780000951144/website_images/explore-events-food-and-wine-events.jpg"
      alt="Card image cap"
    />
    <a>
      <div class="mask rgba-white-slight waves-effect waves-light"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade">
    <!-- Label -->
    <h5 class="pink-text pb-2 pt-1">
      <i class="fas fa-utensils"></i> Culinary
    </h5>
    <!-- Title -->
    <h4 class="card-title">Cheat day inspirations</h4>
    <!-- Text -->
    <p class="card-text">
      Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
      suscipit laboriosam, nisi ut aliquid ex ea commodi.
    </p>
    <!-- Button -->
    <a *ngIf="_showUseCase2" class="btn btn-unique waves-effect waves-light" routerLink="/dashboard">Plan Events</a>
    <a *ngIf="_showUseCase1" class="btn btn-unique waves-effect waves-light" routerLink="/find-events">Find Events</a>
  </div>
</div>
